@using ITI.Mvc.LinkedIn.Models.Entities
@model ITI.Mvc.LinkedIn.ViewModels.AppUserViewModel

<div class="languages col-lg-push-2 col-lg-8 col-xs-11">
	<div class="row experience-header">
		<div class="title col-xs-4">Languages</div>
	</div>


	<div class=" experience-body">
		@foreach (Language item in Model.Languages)
		{

		<div class="row experience-unit skill-unit-details col-xs-12">
			<div class="Skill-name col-xs-10"><i class="fas fa-language"></i>&nbsp;&nbsp; @item.Name</div>
		</div>

		<div class="row experience-unit skill-unit-details col-xs-12">
			<div class="Skill-name col-xs-10"><i class="fas fa-language"></i>&nbsp;&nbsp; @item.Name</div>
		</div>

		<div class="row experience-unit skill-unit-details col-xs-12">
			<div class="Skill-name col-xs-10"><i class="fas fa-language"></i>&nbsp;&nbsp; @item.Name</div>
		</div>

		<div class="row experience-unit skill-unit-details col-xs-12">
			<div class="Skill-name col-xs-10"><i class="fas fa-language"></i>&nbsp;&nbsp; @item.Name</div>
		</div>

		}
	</div>
</div>
@Scripts.Render("~/bundles/jquery")
