@model IEnumerable<ITI.Mvc.LinkedIn.Models.Entities.Posts>

@{
    ViewBag.Title = "Wall";
}

<h2>Wall</h2>

<p>
    @Ajax.ActionLink("Create New", "Create", "posts", null, new AjaxOptions
 {
     HttpMethod = "GET",
     InsertionMode = InsertionMode.Replace,
     UpdateTargetId = "replacing"
 }, htmlAttributes: new { @class = "navbar-link navbar-link-text" })
   @* @Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfLikes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfComments)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfLikes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfComments)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Like", "Like", new { id = item.Id })|
                @Html.ActionLink("Comment", "AddComment", new { id = item.Id })|
                @Html.ActionLink("PostDetails", "PostDetails", new { id = item.Id })


            </td>
        </tr>
    }

</table>

