@using ITI.Mvc.LinkedIn.Models.Entities

@using ITI.Mvc.LinkedIn.ViewModels
@model AppUserViewModel
@{
    Layout = null;
}



@*@Html.Partial("_PartialProfileheaderwithedit")
@Html.Partial("_PartialProfileEducationwithedit")
@Html.Partial("_PartialProfileExperiencewithedit")
@Html.Partial("_PartialProfileSkillswithedit")
@Html.Partial("_PartialProfilelanguageswithedit")
@Html.Partial("_PartialProfilecourseswithedit")*@

<!------------------------------->
<!------------------------------->
<!------------------------------->

<!-- Main profile section -->
<div class="  main-profile-section  col-lg-push-2 col-xs-11 col-lg-8">


    <!-- COVER PHOTO  ROW     -->
    <!-------------------------->
    <a href="" data-toggle="modal" data-target="#cover-photo-modal">
        <div class="row cover-img">
            <img src="~/Style and structure/Profile-Page/0 (1).jfif" class="img-responsive" alt="Responsive image">
        </div>
    </a>

    <div class="modal fade " id="cover-photo-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <a class="close post-form-modal-cancel" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="x">&times;</span>
        </a>


        <div class="modal-dialog " role="document">
            <div class="modal-content post-form-modal-content">
                <img src="~/Style and structure/Profile-Page/0 (1).jfif" class="img-responsive" alt="Responsive image">
            </div>
        </div>
    </div>
    <!-- PROFILE PHOTO  ROW     -->
    <!---------------------------->
    <div class="profile-img-container ">
        <a href="" class="" data-toggle="modal" data-target="#profile-photo-modal">
            <div class=" col-xs-push-4 col-lg-push-2">
                <img src="~/Style and structure/Profile-Page/6.jpg" class="img-responsive " alt="Responsive image">
            </div>
        </a>
    </div>




    <div class="modal fade " id="profile-photo-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <a class="close post-form-modal-cancel" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="x">&times;</span>
        </a>
        <div class="modal-dialog " role="document">
            <div class="modal-content post-form-modal-content">
                <img src="~/Style and structure/Profile-Page/6.jpg" class="img-responsive profile-img" alt="Responsive image">
            </div>
        </div>
    </div>

    <!-- PROFILE Info  section -->
    <!--------------------------->

    <div class="row col-xs-12 profile-user-data">

        <div class="profile-info   col-lg-4 col-xs-8 col-lg-push-5 col-xs-push-2">
            <div class="user-name">@Model.User.Fname @Model.User.Lname</div>
            <div class="user-job">@Model.User.Industry</div>
            <div class="user-country">@Model.User.Headline</div>
        </div>

        <div class=" profile-edit  col-lg-4 col-xs-8 col-lg-pull-4 ">

            <a href="" class="profile-edit-link col-xs-10" data-toggle="modal" data-target="#edit-profile">
                Edit
                &nbsp;&nbsp;<i class="fas fa-pen"></i>
            </a>
            <div class="add-section col-xs-10">Add Profile Section</div>
        </div>



        <!-- Edit Profile Info Modal -->
        <div class="modal fade edit-profile-modal" id="edit-profile" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel">
            <form>
                <div class="modal-dialog " role="document">

                    <div class="modal-content edit-profile-modal-content">
                        <div class="modal-header edit-profile-modal-header">
                            <span class="edit-profile-modal-titl">Edit Intro</span>
                            <a class="close " data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="x">&times;</span>
                            </a>
                        </div>
                        <div class="edit-profile-modal-coverphoto">
                            <div class=" coverphoto">
                                <img src="0 (1).jfif" class="" alt="Responsive image">
                            </div>
                        </div>

                        <a href="" class="" data-toggle="modal" data-target="#edit-profile-img-modal">
                            <div class="modal-profile-img-container">
                                <!-- <input type="file" class="upload"> -->
                                <img src="6.jpg" class="profilephoto" alt="Responsive image">
                            </div>
                        </a>




                        <form class="edit-profile-modal-form">
                            <label class="edit-profile-modal-form-lable">
                                First Name&nbsp;&nbsp;<span class="requied">*</span>
                            </label>
                            <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                                   placeholder="First Name">

                            <label class="edit-profile-modal-form-lable">Last Name&nbsp;&nbsp;<span class="requied">*</span></label>
                            <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                                   placeholder="Last Name">

                            <label class="edit-profile-modal-form-lable">HeadLine&nbsp;&nbsp;<span class="requied">*</span></label>
                            <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                                   placeholder="HeadLine">

                            <label class="edit-profile-modal-form-lable">Current Position</span></label>
                            <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                                   placeholder="Current Position">

                            <label class="edit-profile-modal-form-lable">Education</span></label>
                            <div class="dropdown ">
                                <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                        id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Assiut
                                    University
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">Assiut University</a></li>
                                    <li><a href="#">Elmasoura University</a></li>
                                    <li><a href="#">Elshouroq Academy</a></li>
                                </ul>
                            </div>

                            <label class="edit-profile-modal-form-lable">
                                Country/Region&nbsp;&nbsp;<span class="requied">*</span>
                            </label>
                            <div class="dropdown ">
                                <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                        id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Egypt
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">Egypt</a></li>
                                    <li><a href="#">USA</a></li>
                                    <li><a href="#">UAE</a></li>
                                </ul>
                            </div>


                            <label class="edit-profile-modal-form-lable">ZIP code</span></label>
                            <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                                   placeholder="ZIP code">

                            <label class="edit-profile-modal-form-lable">Industry&nbsp;&nbsp;<span class="requied">*</span></label>
                            <div class="dropdown ">
                                <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                        id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Civil Engineer
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">Civil Engineer</a></li>
                                    <li><a href="#">Softeware Developer</a></li>
                                    <li><a href="#">Architect</a></li>
                                </ul>
                            </div>

                            <label class="edit-profile-modal-form-lable">Summary</span></label>
                            <textarea class="form-control edit-profile-modal-form-textarea" rows="3"></textarea>

                            <div class="edit-profile-modal-save">
                                <button type="submit" class="btn edit-profile-modal-save-btn">Save</button>
                            </div>
                        </form>








                    </div>
                </div>
            </form>


        </div>

        <div class="pro-info col-lg-4 col-xs-8  col-lg-push-1 ">
            <a href="" class="profile-edit-link col-xs-10">
                <i class="fas fa-university"></i>&nbsp;&nbsp;Assiut University</i>
            </a>
            <a href="" class="profile-edit-link col-xs-10"><i class="fas fa-book-open"></i>&nbsp;&nbsp;See Contacts</a>
            <a href="" class="profile-edit-link col-xs-10" data-toggle="modal" data-target="#Connections-list-modal">
                <i class="fas fa-user-friends"></i>&nbsp;&nbsp;See Connections
            </a>
        </div>


        <!-- See Connections list Modal -->
        <div class="modal fade write-post-modal" id="Connections-list-modal" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel">
            <!-- likes list  -->
            <div class="Connections-list-modal ">
                <!-- likes list header -->
                <div class="row col-xs-12 Connections-list-modal-header">
                    <div class="no-of-connections col-xs-6">75 Connections</div>
                    <a class="close connections-list-modal-cancel" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="x">&times;</span>
                    </a>
                </div>
                <!-- like list index info body -->
                <div class="col-xs-12 connections-list-modal-body">
                    <div class="row">
                        <div class="col-xs-3 ">
                            <a href="">
                                <div class="connection-view-profile-img  ">
                                    <img src="6.jpg" class="img-responsive" alt="Responsive image">
                                </div>
                            </a>

                        </div>

                        <div class="connection-data   col-xs-5">
                            <a href="" class="connection-owner ">
                                <div class="connection-owner">Ahmed Ben Alaa</div>
                            </a>
                            <div class="connection-owner-titel">Civil Engineer</div>
                        </div>
                    </div>
                    <hr>


                </div>
            </div>


        </div>

    </div>




</div>

<!-- PROFILE STRENGHT  section -->
<!------------------------------->
<div class="profile-strength col-lg-push-2 col-lg-8 col-xs-11 ">
    <img src="~/Style and structure/Profile-Page/1.png" class="img-responsive profile-strength-img" alt="Responsive image">
</div>

<!------------------------------->
<!------------------------------->
<!------------------------------->


<!-- Education  section -->
<!------------------------------->
<div class="education col-lg-push-2 col-lg-8 col-xs-11">

    <div class="row education-header">
        <div class="title col-xs-3">Education</div>

        <a href="" data-toggle="modal" data-target="#add-education-modal">
            <div class="add-education col-xs-1 col-xs-push-8">
                <i class="fas fa-plus-circle"></i>
            </div>
        </a>
    </div>

    <div class="row education-body">
        @foreach (UserEducation item in Model.EducationList)
        {
            <div class="row education-unit col-xs-12">

                <div class="education-unit-logo col-xs-1">
                    <i class="fas fa-university"></i>
                </div>

                <div class="education-unit-details col-xs-9">
                    <div class="education-unit-name">@item.University</div>
                    <span class="education-unit-degree">@item.Degree</span>
                    <span class="education-unit-field">@item.Fieldofstudy</span>
                    <span class="education-unit-grade">Very Good with Honor</span>
                    <div class="education-unit-start-end-year">2013-2017</div>
                </div>
                <a href="" data-toggle="modal" data-target="#edit-education-modal">
                    <div class="edit-education-unit col-xs-1 ">
                        <i class="fas fa-pen"></i>
                    </div>
                </a>
            </div>


        }

        <div id="useredureplace" class="row education-unit col-xs-8">

        </div>




    </div>
</div>

<!-- (1)Add Education Modal -->
<div class="modal fade add-education-modal" id="add-education-modal" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel">

    <div class="modal-dialog " role="document">

        <div class="modal-content add-education-modal-content">
            <div class="modal-header add-education-modal-header">
                <span class="add-education-modal-titl">Add Education</span>
                <a class="close " data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="x">&times;</span>
                </a>
            </div>
            @using (Ajax.BeginForm("AddUserEducation", "ProfileManager", new AjaxOptions
            {
                HttpMethod = "Post",
                InsertionMode = InsertionMode.InsertAfter, //target element(#patientList) will be replaced
                UpdateTargetId = "useredureplace",
                //LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
            }
               ))
            {
                <label class="edit-profile-modal-form-lable">School&nbsp;&nbsp;<span class="requied">*</span></label>
                    <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                           placeholder="Ex: Boston University">

                    <label class="edit-profile-modal-form-lable">Degree</label>
                    <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                           placeholder="Ex: Bachelor's">

                    <label class="edit-profile-modal-form-lable">Field of Study</label>
                    <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                           placeholder="Ex: Engineering">

                    <label class="edit-profile-modal-form-lable">Grade</label>
                    <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                           placeholder="Current Position">

                    <label class="edit-profile-modal-form-lable">Activities and societies</label>
                    <textarea class="form-control edit-profile-modal-form-textarea" rows="3"></textarea>

                    <label class="edit-profile-modal-form-lable">From Year</label>
                    <div class="dropdown ">
                        <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Year
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                            <li><a href="#">2019</a></li>
                            <li><a href="#">2018</a></li>
                            <li><a href="#">2017</a></li>
                            <li><a href="#">2016</a></li>
                            <li><a href="#">2015</a></li>
                            <li><a href="#">2014</a></li>
                            <li><a href="#">2013</a></li>
                            <li><a href="#">2012</a></li>
                            <li><a href="#">2011</a></li>
                            <li><a href="#">2010</a></li>
                        </ul>
                    </div>


                    <label class="edit-profile-modal-form-lable">To Year(Expected) </label>
                    <div class="dropdown ">
                        <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Year
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                            <li><a href="#">2023</a></li>
                            <li><a href="#">2022</a></li>
                            <li><a href="#">2021</a></li>
                            <li><a href="#">2020</a></li>
                            <li><a href="#">2019</a></li>
                            <li><a href="#">2018</a></li>
                            <li><a href="#">2017</a></li>
                            <li><a href="#">2016</a></li>
                            <li><a href="#">2015</a></li>
                            <li><a href="#">2014</a></li>
                            <li><a href="#">2013</a></li>
                            <li><a href="#">2012</a></li>
                            <li><a href="#">2011</a></li>
                            <li><a href="#">2010</a></li>
                        </ul>
                    </div>


                    <label class="edit-profile-modal-form-lable">Description</label>
                    <textarea class="form-control edit-profile-modal-form-textarea" rows="3"></textarea>

                    <div class="edit-profile-modal-save">
                        <button type="submit" class="btn edit-profile-modal-save-btn">Save</button>
                    </div>
            }







        </div>
    </div>



</div>


<!-- (2)Edit Education Modal -->
<div class="modal fade edit-education-modal" id="edit-education-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <form>
        <div class="modal-dialog " role="document">

            <div class="modal-content add-education-modal-content">
                <div class="modal-header add-education-modal-header">
                    <span class="add-education-modal-titl">Edit Education</span>
                    <a class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="x">&times;</span>
                    </a>
                </div>


                <form class="add-education-modal-form">
                    <label class="edit-profile-modal-form-lable">School&nbsp;&nbsp;<span class="requied">*</span></label>
                    <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                           placeholder="Ex: Boston University">

                    <label class="edit-profile-modal-form-lable">Degree</label>
                    <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                           placeholder="Ex: Bachelor's">

                    <label class="edit-profile-modal-form-lable">Field of Study</label>
                    <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                           placeholder="Ex: Engineering">

                    <label class="edit-profile-modal-form-lable">Grade</label>
                    <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                           placeholder="Current Position">

                    <label class="edit-profile-modal-form-lable">Activities and societies</span></label>
                    <textarea class="form-control edit-profile-modal-form-textarea" rows="3"></textarea>

                    <label class="edit-profile-modal-form-lable">From Year</label>
                    <div class="dropdown ">
                        <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Year
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                            <li><a href="#">2019</a></li>
                            <li><a href="#">2018</a></li>
                            <li><a href="#">2017</a></li>
                            <li><a href="#">2016</a></li>
                            <li><a href="#">2015</a></li>
                            <li><a href="#">2014</a></li>
                            <li><a href="#">2013</a></li>
                            <li><a href="#">2012</a></li>
                            <li><a href="#">2011</a></li>
                            <li><a href="#">2010</a></li>
                        </ul>
                    </div>


                    <label class="edit-profile-modal-form-lable">To Year(Expected) </label>
                    <div class="dropdown ">
                        <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Year
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                            <li><a href="#">2023</a></li>
                            <li><a href="#">2022</a></li>
                            <li><a href="#">2021</a></li>
                            <li><a href="#">2020</a></li>
                            <li><a href="#">2019</a></li>
                            <li><a href="#">2018</a></li>
                            <li><a href="#">2017</a></li>
                            <li><a href="#">2016</a></li>
                            <li><a href="#">2015</a></li>
                            <li><a href="#">2014</a></li>
                            <li><a href="#">2013</a></li>
                            <li><a href="#">2012</a></li>
                            <li><a href="#">2011</a></li>
                            <li><a href="#">2010</a></li>
                        </ul>
                    </div>


                    <label class="edit-profile-modal-form-lable">Description</span></label>
                    <textarea class="form-control edit-profile-modal-form-textarea" rows="3"></textarea>

                    <div class="edit-profile-modal-save">
                        <button type="submit" class="btn edit-profile-modal-save-btn">Save</button>
                    </div>
                </form>








            </div>
        </div>
    </form>


</div>





<!-- Experience  section -->
<!------------------------------->
<!------------------------------->
<!------------------------------->
<div id="CompaniesList"class="experience col-lg-push-2 col-lg-8 col-xs-11">

    <div class="row experience-header">
        <div class="title col-xs-3">Experience</div>
        <a href="" data-toggle="modal" data-target="#add-experience-modal">
            <div class="add-experience col-xs-1 col-xs-push-8">
                <i class="fas fa-plus-circle"></i>
            </div>
        </a>
    </div>

@foreach (var item in Model.Companies)

{
    <div class="row experience-body">

        <div class="row experience-unit col-xs-8">

            <div class="experience-unit-logo col-xs-1">
                <i class="fas fa-place-of-worship"></i>
            </div>

            <div class="experience-unit-details col-xs-10">
                <div class="experience-unit-title">@item.Title</div>
                <span class="experience-unit-name">@item.Industry</span>
                <div class="experience-unit-start-end-year">@item.StartDate-@item.EndDate</div>
            </div>

        </div>

        <a href="" data-toggle="modal" data-target="#edit-experience-modal">
            <div class="edit-experience-unit col-xs-1 col-xs-push-3">
                <i class="fas fa-pen"></i>
            </div>
        </a>

    </div>

}
</div>

@Html.Partial("_PartialCreateExperience",new CompanyViewModel())


<!-- (2)Edit Experience Modal -->
<div class="modal fade edit-education-modal" id="edit-experience-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">

    <form>
        <div class="modal-dialog " role="document">

            <div class="modal-content edit-experience-modal-content">
                <div class="modal-header edit-experience-modal-header">
                    <span class="edit-experience-modal-titl">Edit Experience</span>
                    <a class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="x">&times;</span>
                    </a>
                </div>


                <form class="edit-experience-modal-form">

                    <label class="edit-profile-modal-form-lable">Title &nbsp;&nbsp;<span class="requied">*</span></label>
                    <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                           placeholder="Ex: Manager">

                    <label class="edit-profile-modal-form-lable">Company &nbsp;&nbsp;<span class="requied">*</label>
                    <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                           placeholder="Ex: Microsoft">

                    <label class="edit-profile-modal-form-lable">Location</label>
                    <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput" placeholder="Ex: London, United Kingdom">


                    <label class="edit-profile-modal-form-lable">Start Date</label>
                    <div class="dropdown ">
                        <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Year
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                            <li><a href="#">2019</a></li>
                            <li><a href="#">2018</a></li>
                            <li><a href="#">2017</a></li>
                            <li><a href="#">2016</a></li>
                            <li><a href="#">2015</a></li>
                            <li><a href="#">2014</a></li>
                            <li><a href="#">2013</a></li>
                            <li><a href="#">2012</a></li>
                            <li><a href="#">2011</a></li>
                            <li><a href="#">2010</a></li>
                        </ul>
                    </div>

                    <div class="dropdown ">
                        <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Month
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Jan</a></li>
                            <li><a href="#">Feb</a></li>
                            <li><a href="#">Mar</a></li>
                            <li><a href="#">Apr</a></li>
                            <li><a href="#">May</a></li>
                            <li><a href="#">Jun</a></li>
                            <li><a href="#">Jul</a></li>
                            <li><a href="#">Aug</a></li>
                            <li><a href="#">Sep</a></li>
                            <li><a href="#">Oct</a></li>
                            <li><a href="#">Nov</a></li>
                            <li><a href="#">Dec</a></li>
                        </ul>
                    </div>


                    <label class="edit-profile-modal-form-lable">End Date</label>
                    <div class="dropdown ">
                        <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Year
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                            <li><a href="#">2019</a></li>
                            <li><a href="#">2018</a></li>
                            <li><a href="#">2017</a></li>
                            <li><a href="#">2016</a></li>
                            <li><a href="#">2015</a></li>
                            <li><a href="#">2014</a></li>
                            <li><a href="#">2013</a></li>
                            <li><a href="#">2012</a></li>
                            <li><a href="#">2011</a></li>
                            <li><a href="#">2010</a></li>
                        </ul>
                    </div>

                    <div class="dropdown ">
                        <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Month
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Jan</a></li>
                            <li><a href="#">Feb</a></li>
                            <li><a href="#">Mar</a></li>
                            <li><a href="#">Apr</a></li>
                            <li><a href="#">May</a></li>
                            <li><a href="#">Jun</a></li>
                            <li><a href="#">Jul</a></li>
                            <li><a href="#">Aug</a></li>
                            <li><a href="#">Sep</a></li>
                            <li><a href="#">Oct</a></li>
                            <li><a href="#">Nov</a></li>
                            <li><a href="#">Dec</a></li>
                        </ul>
                    </div>

                    <label class="edit-profile-modal-form-lable">Description</label>
                    <textarea class="form-control edit-profile-modal-form-textarea" rows="3"></textarea>

                    <div class="edit-profile-modal-save">
                        <button type="submit" class="btn edit-profile-modal-save-btn">Save</button>
                    </div>

                </form>








            </div>
        </div>
    </form>


</div>


<!------------------------------->
<!------------------------------->
<!------------------------------->


<!-- Skills  section -->
<!------------------------------->
<div class="experience col-lg-push-2 col-lg-8 col-xs-11">

    <div class="row experience-header">
        <div class="title col-xs-4">Skills & Endorsements</div>

        <a href="" data-toggle="modal" data-target="#add-skill-modal">
            <div class="add-experience col-xs-1 col-xs-push-6">
                <i class="fas fa-plus-circle"></i>
            </div>
        </a>

        <a href="" data-toggle="modal" data-target="#edit-skill-modal">
            <div class="add-experience col-xs-1 col-xs-push-6">
                <i class="fas fa-pen"></i>
            </div>
        </a>
    </div>

    <div class="row experience-body">

        <div class="row experience-unit col-xs-12">

            @foreach (Skills item in Model.Skills)
            {
                <div class="skill-unit-details col-xs-12">
                    <div class="Skill-name ">@item.Name</div>
                </div>
            }


        </div>



    </div>


</div>


<!-- (1)Add Skills Modal -->

<div class="modal fade add-education-modal add-skill-modal" id="add-skill-modal" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel">
    <form>
        <div class="modal-dialog " role="document">

            <div class="modal-content add-experience-modal-content">
                <div class="modal-header add-experience-modal-header">
                    <span class="add-experience-modal-titl">Add Skill</span>
                    <a class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="x">&times;</span>
                    </a>
                </div>


                <form class="add-experience-modal-form add-skill-modal-form">

                    <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput"
                           placeholder="Ex: Data Science">



                    <div class="edit-profile-modal-save">
                        <button type="submit" class="btn edit-profile-modal-save-btn">Add</button>
                    </div>
                </form>

            </div>
        </div>
    </form>


</div>




<!-- (2)Edit Skills Modal -->
<div class="modal fade  edit-skill-modal" id="edit-skill-modal" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel">
    <form>
        <div class="modal-dialog " role="document">

            <div class="modal-content add-experience-modal-content add-skill-modal-content">
                <div class="modal-header add-experience-modal-header">
                    <span class="add-experience-modal-titl">Edit Skills</span>
                    <a class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="x">&times;</span>
                    </a>
                </div>


                <form class="add-experience-modal-form ">

                    @foreach (Skills item in Model.Skills)
                    {
                        <div class="skill-unit">
                            <div class="skill-name col-xs-11">@item.Name</div>
                            <a href="">
                                <div class="skill-remove-icon  ">
                                    <i class="far fa-trash-alt"></i>
                                </div>
                            </a>

                        </div>
                    }



                    <div class="edit-profile-modal-save ">
                        <button type="submit" class="btn edit-profile-modal-save-btn">Add</button>
                    </div>
                </form>

            </div>
        </div>
    </form>


</div>

<!------------------------------->
<!------------------------------->
<!------------------------------->


<!-- Languages  section -->
<!------------------------------->
<div class="languages col-lg-push-2 col-lg-8 col-xs-11">
    <div class="row experience-header">
        <div class="title col-xs-4">Languages</div>

        <a href="" data-toggle="modal" data-target="#add-language-modal">
            <div class="add-experience col-xs-1 col-xs-push-7">
                <i class="fas fa-plus-circle"></i>
            </div>
        </a>


    </div>


    <div class=" experience-body">
        @foreach (Language item in Model.Languages)
        {
            <div class="row experience-unit skill-unit-details col-xs-12">
                <div class="Skill-name col-xs-10">@item.Name</div>
                <a href="">
                    <div class="skill-remove-icon  col-xs-1">
                        <i class="far fa-trash-alt"></i>
                    </div>
                </a>
                <a href="" data-toggle="modal" data-target="#edit-language-modal">
                    <div class="add-experience col-xs-1 ">
                        <i class="fas fa-pen"></i>
                    </div>
                </a>

            </div>
        }








    </div>
</div>



<!-- (1)Add Languages Modal -->
<div class="modal fade add-education-modal add-skill-modal" id="add-language-modal" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel">
    <form>
        <div class="modal-dialog " role="document">

            <div class="modal-content add-experience-modal-content">
                <div class="modal-header add-experience-modal-header">
                    <span class="add-experience-modal-titl">Add Skill</span>
                    <a class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="x">&times;</span>
                    </a>
                </div>


                <form class="add-experience-modal-form add-skill-modal-form">

                    <label class="edit-profile-modal-form-lable">Language</label>
                    <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput" placeholder="Ex: Arabic">


                    <label class="edit-profile-modal-form-lable">Proficiency</label>
                    <div class="dropdown ">

                        <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Nativ or Bilingual Proficiency
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Elementry Proficiency</a></li>
                            <li><a href="#">Limited Working Proficiency</a></li>
                            <li><a href="#">Profitional Working Proficiency</a></li>
                            <li><a href="#">Full Profitional Proficiency</a></li>
                            <li><a href="#">Nativ or Bilingual Proficiency</a></li>
                        </ul>
                    </div>





                    <div class="edit-profile-modal-save">
                        <button type="submit" class="btn edit-profile-modal-save-btn">Add</button>
                    </div>
                </form>

            </div>
        </div>
    </form>


</div>




<!-- (2)Edit Languages Modal -->
<div class="modal fade add-education-modal add-skill-modal" id="edit-language-modal" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel">
    <form>
        <div class="modal-dialog " role="document">

            <div class="modal-content add-experience-modal-content">
                <div class="modal-header add-experience-modal-header">
                    <span class="add-experience-modal-titl">Add Skill</span>
                    <a class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="x">&times;</span>
                    </a>
                </div>


                <form class="add-experience-modal-form add-skill-modal-form">

                    <label class="edit-profile-modal-form-lable">Language</label>
                    <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput" placeholder="Ex: Arabic">


                    <label class="edit-profile-modal-form-lable">Proficiency</label>
                    <div class="dropdown ">

                        <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Nativ or Bilingual Proficiency
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Elementry Proficiency</a></li>
                            <li><a href="#">Limited Working Proficiency</a></li>
                            <li><a href="#">Profitional Working Proficiency</a></li>
                            <li><a href="#">Full Profitional Proficiency</a></li>
                            <li><a href="#">Nativ or Bilingual Proficiency</a></li>
                        </ul>
                    </div>





                    <div class="edit-profile-modal-save">
                        <button type="submit" class="btn edit-profile-modal-save-btn">Save</button>
                    </div>
                </form>

            </div>
        </div>
    </form>


</div>


<!------------------------------->
<!------------------------------->
<!------------------------------->

<!-- Courses  section -->
<!------------------------------->
<div id="courses-container" class="courses col-lg-push-2 col-lg-8 col-xs-11">
    <div class="row experience-header">


        <div class="title col-xs-4">Courses</div>

        <a href="" data-toggle="modal" data-target="#add-course-modal">
            <div class="add-experience col-xs-1 col-xs-push-7">
                <i class="fas fa-plus-circle"></i>
            </div>
        </a>


    </div>


    <div class=" experience-body">


        @foreach (var item in Model.Courses)

        {
            <div class="row experience-unit skill-unit-details col-xs-12">
                <div class="Skill-name col-xs-10">@item.CourseName</div>

                <a href="">
                    <div class="skill-remove-icon  col-xs-1">
                        <i class="far fa-trash-alt"></i>
                    </div>
                </a>

                <a href="" data-toggle="modal" data-target="#edit-course-modal">
                    <div class="add-experience col-xs-1 ">
                        <i class="fas fa-pen"></i>
                    </div>
                </a>

            </div>
        }




    </div>
</div>


@Html.Partial("_PartialAddCourse", new CourseViewModel())




<!-- (2)Edit Courses Modal -->
<div class="modal fade add-education-modal add-skill-modal" id="edit-course-modal" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel">
    <form>
        <div class="modal-dialog " role="document">

            <div class="modal-content add-experience-modal-content">
                <div class="modal-header add-experience-modal-header">
                    <span class="add-experience-modal-titl">Add Course</span>
                    <a class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="x">&times;</span>
                    </a>
                </div>


                <form class="add-experience-modal-form add-skill-modal-form">

                    <label class="edit-profile-modal-form-lable">Course Name&nbsp;&nbsp;<span class="requied">*</label>
                    <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput" placeholder="Ex: AutoCAD">

                    <label class="edit-profile-modal-form-lable">Number</label>
                    <input type="text" class="form-control edit-profile-modal-form-lable-control" id="formGroupExampleInput" placeholder="">



                    <label class="edit-profile-modal-form-lable">Associated with</label>
                    <div class="dropdown ">

                        <button class="btn btn-default dropdown-toggle edit-profile-modal-form-dropdownlist" type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Student at Assiut University, Bachelor's degree Civil Engineering
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu edit-profile-modal-form-dropdownlist" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Student at Assiut University, Bachelor's degree Civil Engineering</a></li>
                            <li><a href="#">Structural Design Engineer at Eamar</a></li>
                            <li><a href="#">Student at ITI</a></li>
                        </ul>
                    </div>





                    <div class="edit-profile-modal-save">
                        <button type="submit" class="btn edit-profile-modal-save-btn">Save</button>
                    </div>
                </form>

            </div>
        </div>
    </form>


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>