@using ITI.Mvc.LinkedIn.ViewModels

@using ITI.Mvc.LinkedIn.Models.Entities
@model  ITI.Mvc.LinkedIn.ViewModels.AppUserViewModel
<!-- Experience  section -->
<!------------------------------->
<!------------------------------->
<!------------------------------->
<div id="CompaniesList" class="experience col-lg-push-2 col-lg-8 col-xs-11">

    <div class="row experience-header">
        <div class="title col-xs-3">Experience</div>
        <a href="" data-toggle="modal" data-target="#add-experience-modal">
            <div class="add-experience col-xs-1 col-xs-push-8">
                <i class="fas fa-plus-circle"></i>
            </div>
        </a>
    </div>

    @foreach (var item in Model.Companies)

    {
        <div class="row experience-body">

            <div class="row experience-unit col-xs-8">

                <div class="experience-unit-logo col-xs-1">
                    <i class="fas fa-place-of-worship"></i>
                </div>

                <div class="experience-unit-details col-xs-10">
                    <div class="experience-unit-title">@item.Title</div>
                    <span class="experience-unit-name">@item.Industry</span>
                    <div class="experience-unit-start-end-year">@item.StartDate-@item.EndDate</div>
                </div>

            </div>

            <a href="" data-toggle="modal" data-target="#edit-experience-modal">
                <div class="edit-experience-unit col-xs-1 col-xs-push-3">
                    <i class="fas fa-pen"></i>
                </div>
            </a>


        </div>

    }
</div>

<!-- (1)Add Experience Modal -->

@Html.Partial("_PartialCreateExperience", new CompanyViewModel())


<!-- (2)Edit Experience Modal -->
@Html.Partial("_PartialEditExperience", new CompanyViewModel())

