@model ITI.Mvc.LinkedIn.ViewModels.CompanyViewModel


<!-- (2)Edit Experience Modal -->
<div class="modal fade edit-education-modal" id="edit-experience-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">

    <form>
        <div class="modal-dialog " role="document">

            <div class="modal-content edit-experience-modal-content">
                <div class="modal-header edit-experience-modal-header">
                    <span class="edit-experience-modal-titl">Edit Experience</span>
                    <a class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="x">&times;</span>
                    </a>
                </div>


                <form class="edit-experience-modal-form" id="editexperience">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <label class="edit-profile-modal-form-lable">Title &nbsp;&nbsp;<span class="requied">*</span></label>
                    @Html.EditorFor(e => e.company.Title, new { htmlAttributes = new { @class = "form-control edit-profile-modal-form-lable-control ", @placeholder = "Ex: Manager", @id = "add-experience-title-text-field" } })
                    @Html.ValidationMessageFor(model => model.company.Title, "", new { @class = "text-danger" })



                    <label class="edit-profile-modal-form-lable">Company &nbsp;&nbsp;<span class="requied">*</label>
                    @Html.EditorFor(e => e.company.Name, new { htmlAttributes = new { @class = "form-control edit-profile-modal-form-lable-control ", @placeholder = "Ex: Microsoft", @id = "add-experience-company-name-text-field" } })
                    @Html.ValidationMessageFor(model => model.company.Name, "", new { @class = "text-danger" })

                    <label class="edit-profile-modal-form-lable">Location</label>
                    @Html.EditorFor(e => e.company.Address, new { htmlAttributes = new { @class = "form-control edit-profile-modal-form-lable-control ", @placeholder = "Ex: London, United Kingdom", @id = "add-experience-company-locarion-text-field" } })
                    @Html.ValidationMessageFor(model => model.company.Name, "", new { @class = "text-danger" })

                    <label class="edit-profile-modal-form-lable">Start Date</label>
                    @Html.EditorFor(e => e.company.StartDate, new { htmlAttributes = new { @class = "form-control edit-profile-modal-form-lable-control ", @placeholder = "Ex: 12-2015", @id = "add-experience-company-startend-text-field" } })
                    @Html.ValidationMessageFor(model => model.company.StartDate, "", new { @class = "text-danger" })



                    <label class="edit-profile-modal-form-lable">End Date</label>
                    @Html.EditorFor(e => e.company.EndDate, new { htmlAttributes = new { @class = "form-control edit-profile-modal-form-lable-control ", @placeholder = "Ex: 07-2018", @id = "add-experience-company-enddate-text-field" } })
                    @Html.ValidationMessageFor(model => model.company.EndDate, "", new { @class = "text-danger" })



                    <label class="edit-profile-modal-form-lable">Industry &nbsp;&nbsp;<span class="requied">*</label>
                    @Html.EditorFor(e => e.company.Industry, new { htmlAttributes = new { @class = "form-control edit-profile-modal-form-lable-control ", @placeholder = "Ex: Games Developing", @id = "add-experience-company-industry-text-field" } })
                    @Html.ValidationMessageFor(model => model.company.Industry, "", new { @class = "text-danger" })



                    <div class="edit-profile-modal-save">
                        <a class="btn edit-profile-modal-save-btn" href="javascript:document.getElementById('editexperience').submit()">Add</a>
                    </div>
                    

                </form>








            </div>
        </div>
    </form>


</div>