@model IEnumerable<ITI.Mvc.LinkedIn.Models.Entities.Posts>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfLikes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfComments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfLikes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfComments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })|
            @Html.ActionLink("Like", "Like", new { id=item.Id})|
            @Html.ActionLink("Comment", "AddComment", new { id = item.Id })|
            @Html.ActionLink("PostDetails", "PostDetails", new { id = item.Id })


        </td>
    </tr>
}

</table>
